.chrome-tap-pre {
    word-wrap : break-word;
    white-space : pre-wrap;
    font-family : monospace;
}

/*
.chrome-tap-box {
    border : 1px;
    border-style : solid;
    border-color : black;
}
*/

#chrome-tap-shell a {
    font-size : large;
    padding : 12px 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    overflow: hidden;
    background: -webkit-linear-gradient(left, rgba(33,33,33,0) 0%, rgba(33,33,33,0) 75%, rgba(33,33,33,1) 100%);
}

li {
    float: right;
}

li span {
    font-family : sans-serif;
    display: block;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
}

li a {
    font-family : sans-serif;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.chrome-tap-toolbar {
    position : fixed;
    width : 100%;
}

.chrome-tap-scp {
    font-family : sans-serif;
    color : black;
    font-size : larger;
}

.chrome-tap-scp:hover {
    cursor : pointer;
}

.chrome-tap-extra-line {
    color : midnightblue;
    display : inline-block;
}

.chrome-tap-comment {
	color : blue;
}

.chrome-tap-ok {
    color : green;
}

.chrome-tap-plan {
    color : purple;
}

.chrome-tap-not-ok {
    color : red;
}

.chrome-tap-invisible {
    display : none;
}