.chrome-tap-pre {
    word-wrap : break-word;
    white-space : pre-wrap;
    font-family : monospace;
}

.chrome-tap-comment {
	color : blue;
}
.chrome-tap-ok {
    color : green;
}
.chrome-tap-not-ok {
    color : red;
}

.chrome-tap-invisible {
    display : none;
}