.chrome-tap-pre {
    word-wrap : break-word;
    white-space : pre-wrap;
    font-family : monospace;
}

/*
.chrome-tap-box {
    border : 1px;
    border-style : solid;
    border-color : black;
}
*/

.chrome-tap-comment {
	color : blue;
}

.chrome-tap-ok {
    color : green;
}

.chrome-tap-plan {
    color : purple;
}

.chrome-tap-not-ok {
    color : red;
}

.chrome-tap-invisible {
    display : none;
}